/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #555;
}

/* Header/Navbar styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1C1C1C;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}

/* Logo and Site Name */

.logoName {
    display: flex;
    align-items: center;
    color: #FFD700;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.logoName .name {
    font-size: 20px;
    font-weight: bold;
    color: #FFD700;
    text-decoration: none;
}

.logoName .name:hover {
    color: #ffffff;
}


/* Nav container */

nav.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Search bar */

.searchContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchContainer input {
    padding: 8px 12px;
    width: 100px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    transition: width 0.2s ease;
}

/* Expand hovered */

.searchContainer:focus-within input {
    width: 300px;
    box-shadow: 0 0 8px rgb(163, 140, 11);
}

.searchContainer button {
    padding: 5px 10px;
    background-color: #333333;
    color: rgb(213, 213, 213);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.searchContainer button:hover {
    background-color:#1a1a1a;
    color:#FFD700 ;
}

/* Nav links */

nav.info ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav.info ul li a {
    text-decoration: none;
    color: #FFD700;
    font-weight: bold;
    transition: 0.3s;
}

nav.info ul li a:hover {
    color: #ffffff; 
}

/* Movie section */

.movieSection {
    padding: 20px;
    background-color: #2b2b2b;
    min-height: 100vh;
}

.sectionTitle {
    color: #FFD700;
    font-size: 24px;
    margin-bottom: 15px;
}

.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

.movieCard {
    background-color: #1C1C1C;
    border-radius: 8px;
    padding-bottom: 12px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    transform-style: preserve-3d;
}

.movieCard:hover {
    transform: translateY(-10px) scale(1.05) rotateX(4deg);
    box-shadow: 0 8px 16px rgba(255, 215, 0, 0.6);
}

.posterPlaceholder {
    width: 100%;
    height: 230px;
    background-color: #333333;
    border-radius: 6px;
}

.movieName {
    color: #777;
    font-size: 15px;
    margin-top: 10px;
    font-style: italic;
}

